<a [routerLink]="['open']" class="btn btn-primary mb-3">Open ticket</a>
<div class="bg-light border p-3 mb-3" *ngIf="tickets$ | async as tickets; else loading">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Status</th>
        <th>Author</th>
        <th>Creation Date</th>
        <th>Message</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td class="align-middle">{{ticket.status}}</td>
        <td class="align-middle">{{ticket.author | username$ | async }}</td>
        <td class="align-middle">{{ticket.creationDate | date}}</td>
        <td class="align-middle">{{ticket.message}}</td>
        <td class="align-middle text-end">
            <a [routerLink]="[ticket._id, '/edit']" class="btn btn-primary btn-sm m-1"
              *ngIf="(ticket.status === 'NEW') && (ticket.author | isLoggedUser)">Edit</a>
            <a [routerLink]="[ticket._id, '/answers']" class="btn btn-primary btn-sm m-1"
              *ngIf="(ticket.status !== 'CLOSED') && !(ticket.author | isLoggedUser)">
              <ng-container *ngIf="ticket.answers.length">Add an answer</ng-container>
              <ng-container *ngIf="ticket.answers.length === 1">View the answer</ng-container>
              <ng-container *ngIf="ticket.answers.length > 1">View the {{ticket.answers.length}} answers</ng-container>
            </a>
            <button class="btn btn-warning btn-sm m-1" (click)="close(ticket._id)"
              [disabled]="(ticket.status !== 'ANSWERED') || !(ticket.author | isLoggedUser)">
              Close
            </button>
            <button class="btn btn-danger btn-sm m-1" (click)="delete(ticket._id)"
              [disabled]="(ticket.status !== 'NEW') || !(ticket.author | isLoggedUser)">
              Delete
            </button>
        </td>
      </tr>
      <tr *ngIf="!tickets.length">
        <td colspan="5" class="lead text-center">
          There aren't tickets in the system.
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>
  <div class="bg-info text-center lead">
    Loading tickets...
  </div>
</ng-template>
<div class="text-center">
  <app-pagination [(page)]="page" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems"></app-pagination>
</div>
