/* You can add global styles to this file, and also import other style files */
.cursor-disabled, [disabled], .disabled {
  cursor: not-allowed;
}
button:not([disabled]):not(.disabled), a:not(.disabled) {
  cursor: pointer;
}
